@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
header {
  background-color: #f0f0f0;
  justify-content: space-between;
  padding: 20px 200px;
  position: fixed;
  z-index: 999;
  width: 100%;
  align-items: center;
  display: flex;
}
.logo {
  text-decoration: none;
  font-weight: 600;
  color: #3a6cf4;
  font-size: 1.8em;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  font-weight: 500;
  color: #3a6cf4;
  font-size: 1.1em;
  text-transform: capitalize;
  padding-left: 30px;
  width: 50%;
}
.navigation a:hover {
  color: #601cfc;
}
section{
  padding: 100px 200px;
}
.main{
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: url(images/background.jpeg) no-repeat;
  background-size:cover;
  background-position: center;
}
.main h2{
  color: orange;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span{
  color: blue;
  font-size: 3em;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
}
.main h3{
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-btn{
  display: inline-block;
  margin-bottom: 40px;
  padding: 0.93em 2.18em;
  color: white;
  background-color: #601cfc;
  transition: 0.7S ease;
  text-decoration: none;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 600;
}
.main-btn:hover{
  background-color: #4811c7;
  transform: scale(1.1);
}
.social-btns a{
  color: rgb(255, 255, 255);
  padding-right: 30px;
  font-size: 1.7em;
}
.title{
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 2.2em;
  color: #3a6cf4;
  margin-bottom: 30px;
}
.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.card{
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  width: 21.25em;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  transition: 0.7s ease;
}
.card:hover{
  transform: scale(1.1);
}
.icon{
  font-size: 8em;
  text-align: center;
  color: #3a6cf4;

}
.info{
  text-align: center;
}
.info h3{
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects{
  background-color: rgb(7, 1, 46);
}
.projects .content{
  margin-top: 30px;
}
.project-card{
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  width: 23em;
  min-height: 14em;
  transition: 0.7s ease;

}
.project-card:hover{
  transform: scale(1.1);
}
.project-card img{
  width: 100%;
  transition: 0.7s ease;
}
.project-card:hover .project-image{
  opacity: .9;
}
.project-info{
  padding: 1em;

}
.project-category{
  font-size: .8em;
}
.project-title{
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  margin-top: 10px;
}
.more-detailes{
  text-decoration: none;
  color: #3a6cf4;
}
.more-detailes:hover{
  
 color: #601cfc;
}
 /* stopped in 1.5 h/ min